@use '@angular/material' as mat;
@use 'sass:map';

:host {
    width: 95%;
}

.license-table {
    margin-bottom: 1%;
    background-color: var(--mat-sys-surface-container-lowest);
}

.license-form-field {
    display: block;
    max-width: 25%;
    min-width: 250px;
}

.license-table-header {
    user-select: none;
}

.license-table-row:hover {
    background: var(--mat-sys-primary-container);
}

.license-selected {
    color: var(--mat-sys-primary);
}

.license-green-icon {
    color: var(--license-green-icon-color, green);
}

.license-red-icon {
    color: var(--license-red-icon-color, red);
}

.license-table-row-clicked {
    font-weight: bold;
}
