@use '@angular/material' as mat;
@use 'sass:map';

:host {
    width: 95%;
}

.license-table {
    margin-bottom: 1%;
}

.license-form-field {
    display: block;
    max-width: 25%;
    min-width: 250px;
}

.license-table-header {
    user-select: none;
}

.license-table-row:hover {
    background-color: map.get(mat.$m2-indigo-palette, 50);
}

.license-selected {
    color: map.get(mat.$m2-indigo-palette, 500);
}

.license-green-icon {
    color: green;
}

.license-red-icon {
    color: red;
}

.license-table-row-clicked {
    font-weight: bold;
}
