<div style="width: 100%">

    @let current = this.selectedLicense().current;

    <div style="display: flex">
        <mat-form-field class="license-form-field">
            <mat-label>{{ 'view.home.filter' | translate }}</mat-label>
            <input [value]="filterValue()" (keyup)="onUpdateFilter($event)" matInput>
            @if (filterValue()) {
                <button matSuffix mat-icon-button aria-label="Clear" (click)="this.clearFilter()">
                    <mat-icon>close</mat-icon>
                </button>
            }
        </mat-form-field>
        <license-toolbar [disabled]="loading()">

        </license-toolbar>
        @if (this.showTestToaster) {
            <button mat-flat-button (click)="testToastr()">Test Toastr</button>
        }
    </div>

    <license-context-menu [isRootNode]="true" [items]="[
        {id: 'open-logs', disabled: false, icon: 'open_in_new', title: 'Open logs'},
        {id: 'open-monitoring', disabled: false, icon: 'query_stats', title: 'Open monitoring'},
        {id: 'edit-license', disabled: !current, icon: 'edit', title: 'Edit license'},
        {id: 'delete-license', disabled: !current, icon: 'delete', title: 'Delete license'},
        {id: 'copy-license', disabled: !current, icon: 'content_copy', title: 'Copy license key'}
        ]" (onItemClick)="this.onMenuClick($event)"></license-context-menu>

    @if (this.loading()) {
        <mat-progress-bar mode="indeterminate"></mat-progress-bar>
    } @else {
        <div style="display: block; margin-bottom: 4px"></div>
    }
    <mat-paginator [pageSizeOptions]="[5, 10, 20, 50]" showFirstLastButtons style="user-select: none">

    </mat-paginator>
    <table [dataSource]="dataSource" class="license-table" mat-table matSort>

        <ng-container matColumnDef="licenseKey">
            <th *matHeaderCellDef class="license-table-header" mat-header-cell
                mat-sort-header>{{ 'view.home.table.header.license' | translate }}
            </th>
            <td *matCellDef="let row"
                [class.license-selected]="row === current"
                mat-cell>{{ row.licenseKey }}
            </td>
        </ng-container>

        <ng-container matColumnDef="publisher">
            <th *matHeaderCellDef class="license-table-header" mat-header-cell
                mat-sort-header>{{ 'view.home.table.header.publisher' | translate }}
            </th>
            <td *matCellDef="let row"
                [class.license-selected]="row === current"
                mat-cell>{{ row.publisher }}
            </td>
        </ng-container>

        <ng-container matColumnDef="notes">
            <th *matHeaderCellDef class="license-table-header" mat-header-cell
                mat-sort-header>{{ 'view.home.table.header.notes' | translate }}
            </th>
            <td *matCellDef="let row"
                [class.license-selected]="row === current"
                mat-cell>{{ getShortedString(row.notes) }}
            </td>
        </ng-container>

        <ng-container matColumnDef="valid">
            <th *matHeaderCellDef class="license-table-header" mat-header-cell
                mat-sort-header>{{ 'view.home.table.header.valid' | translate }}
            </th>
            <td *matCellDef="let row"
                [class.license-selected]="row === current"
                mat-cell>
                @if (row.valid) {
                    <mat-icon class="license-green-icon">check_circle</mat-icon>
                } @else {
                    <mat-icon class="license-red-icon">cancel</mat-icon>
                }

            </td>
        </ng-container>

        <ng-container matColumnDef="validUntil">
            <th *matHeaderCellDef class="license-table-header" mat-header-cell
                mat-sort-header>{{ 'view.home.table.header.valid-until' | translate }}
            </th>
            <td *matCellDef="let row"
                [class.license-selected]="row === current"
                mat-cell>{{ row.validUntil.toLocaleString() }}
            </td>
        </ng-container>

        <ng-container matColumnDef="listMode">
            <th *matHeaderCellDef class="license-table-header" mat-header-cell
                mat-sort-header>{{ 'view.home.table.header.list-mode' | translate }}
            </th>
            <td *matCellDef="let row"
                [class.license-selected]="row === current"
                mat-cell>{{ row.listMode }}
            </td>
        </ng-container>

        <ng-container matColumnDef="ipAddresses">
            <th *matHeaderCellDef class="license-table-header" mat-header-cell
                mat-sort-header>{{ 'view.home.table.header.ip-addresses' | translate }}
            </th>
            <td *matCellDef="let row"
                [class.license-selected]="row === current"
                mat-cell>{{ this.getShortedString(row.ipAddresses) }}
            </td>
        </ng-container>

        <tr *matHeaderRowDef="displayedColumns; sticky: true" mat-header-row></tr>
        <tr (click)="this.onRowClick(row)"
            (contextmenu)="this.onContextMenu(row, $event)"
            (dblclick)="this.onRowDoubleClick(row)"
            *matRowDef="let row; columns: displayedColumns;"
            [class.license-table-row-clicked]="row === current"
            class="license-table-row"
            mat-row
        ></tr>

    </table>

</div>
