<br><br>
<hr>
<br><br>

<h2>Publisher-Data:</h2>
@if (licenses.length === 0) {
  <button mat-raised-button color="primary" (click)="retrievePublisher()">{{'Retrieve Publisher Data' | translate}}</button>
} @else {
  {{ licenses }}
}


<br><br>
<hr>
<br><br>

<license-date-picker [datePicker]="{
    label: 'Enter a date range' | translate,
    hint: environment.momentDateAdapter.display.dateInput+' - '+environment.momentDateAdapter.display.dateInput,
    startDate: {
      placeholder: 'Start Date' | translate,
    },
    endDate: {
      placeholder: 'End Date' | translate,
    },
    applyButton: {
      text: 'Apply' | translate,
      color: 'primary'
    },
    cancelButton: {
      text: 'Cancel' | translate,
      color: undefined
    }
  }">

</license-date-picker>

<br><br>
<hr>
<br><br>

<license-choice [menu]="choiceMenu">
  <ng-template let-choice="choice">
    <button mat-raised-button color="primary" [matMenuTriggerFor]="choice">{{ 'Choose' | translate }}</button>
  </ng-template>
</license-choice>

<br><br>
<hr>
<br><br>

<license-context-menu [items]="contextMenuItems">
  <h1>TEST</h1>
  <div>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus elementum id velit a pharetra.
    Suspendisse fringilla efficitur sapien, ac pretium sapien mattis sit amet. Fusce in turpis accumsan,
    consectetur leo quis, viverra mi. Sed eu justo tempor, vehicula dolor et, efficitur felis. Morbi id ex ex.
    Pellentesque dictum varius tempor. Sed vel volutpat eros, vitae iaculis odio. Donec venenatis ex sed
    elementum vehicula. Phasellus tristique lobortis sem, sed volutpat tellus pulvinar id. Mauris tristique
    rutrum pulvinar.
  </div>


</license-context-menu>
