@use '@angular/material' as mat;

.license-form-field {
    display: block;
}

.no-select {
    user-select: none;
}

.license-drag-area {
    cursor: move;
    background: var(--mat-sys-primary-container);
}

.license-text {
    color: var(--mat-sys-primary);
}

.license-spacer {
    display: block;
    margin-bottom: 22px;
}

.license-radio-button {
    cursor: pointer;
}
