<h2>{{ 'key.general' | translate }}:</h2>

<div>
    {{ 'key.text' | translate }}
</div>
<br>
<h2>{{ 'key.explanation.title' | translate }}</h2>

<p style="margin-left:0; margin-right:0; text-align:start">{{ 'key.explanation.text' | translate }}</p>

<ul style="margin-left:0; margin-right:0">
    <li>
        <p style="margin-left:0; margin-right:0"><strong>{{ 'key.public-key.name' | translate }}
            :</strong>
            {{ 'key.public-key.text' | translate }}</p>
    </li>
    <li>
        <p style="margin-left:0; margin-right:0"><strong>{{ 'key.private-key.name' | translate }}
            :</strong> {{ 'key.private-key.text' | translate }}</p>
    </li>
</ul>

<p style="margin-left:0; margin-right:0; text-align:start">{{ 'key.verifying' | translate }}</p>

<ol style="margin-left:0; margin-right:0">
    <li>
        <p style="margin-left:0; margin-right:0"><strong>{{ 'key.encryption.name' | translate }}
            :</strong> {{ 'key.encryption.text' | translate }}</p>
    </li>
    <li>
        <p style="margin-left:0; margin-right:0">
            <strong>{{ 'key.key-verification.name' | translate }}
                :</strong> {{ 'key.key-verification.text' | translate }}</p>
    </li>
</ol>
<br>
<p style="margin-left:0; margin-right:0; text-align:start">{{ 'key.end' | translate }}</p>

<br>
<button (click)="generateKey()" [disabled]="generateDisabled()" color="primary" mat-raised-button>{{ 'key.generate' | translate }}</button>
<span style="padding-right: 10px"></span>
<button (click)="downloadKey()" [disabled]="downloadDisabled()" color="primary" mat-raised-button>{{ 'key.download' | translate }}</button>
