version: '3.1'

services:

  gui:
    build:
      context: .
      dockerfile: Dockerfile-gui
    restart: unless-stopped
    ports:
      - "80:80"
      - "443:443"
    networks:
      - frontend

networks:
  frontend:
