<div style="width: 100%">

    <div style="display: flex">
        <mat-form-field class="license-form-field">
            <mat-label>{{ 'view.license-log.filter' | translate }}</mat-label>
            <input [value]="this.filterValue()" (keyup)="onUpdateFilter($event)" matInput>
            @if (this.filterValue()) {
                <button matSuffix mat-icon-button aria-label="Clear" (click)="clearFilter()">
                    <mat-icon>close</mat-icon>
                </button>
            }
        </mat-form-field>
        <button class="license-log-toolbar-item" (click)="refresh()"
                [disabled]="(this.loading())" [matTooltip]="('view.license-log.tooltip.refresh' | translate) "
                mat-icon-button>
            <mat-icon>refresh</mat-icon>
        </button>
        <button class="license-log-toolbar-item" (click)="deleteHistory()"
                [disabled]="(this.userLicenseState.getUserLicenseLogs().length === 0 || this.userLicenseState.getLoadingLogs())"
                [matTooltip]="('view.license-log.tooltip.delete-logs' | translate) "
                mat-icon-button>
            <mat-icon>delete_history</mat-icon>
        </button>
    </div>

    @if (this.loading()) {
        <mat-progress-bar mode="indeterminate"></mat-progress-bar>
    } @else {
        <div style="display: block; margin-bottom: 4px"></div>
    }
    <mat-paginator [pageSizeOptions]="[5, 10, 20, 50]" showFirstLastButtons style="user-select: none">

    </mat-paginator>
    <table [dataSource]="dataSource" class="license-table" mat-table matSort>

        <ng-container matColumnDef="id">
            <th *matHeaderCellDef class="license-table-header" mat-header-cell
                mat-sort-header>{{ 'view.license-log.table.header.id' | translate }}
            </th>
            <td *matCellDef="let row" mat-cell>{{ row.id }}</td>
        </ng-container>

        <ng-container matColumnDef="license">
            <th *matHeaderCellDef class="license-table-header" mat-header-cell
                mat-sort-header>{{ 'view.license-log.table.header.license' | translate }}
            </th>
            <td *matCellDef="let row" mat-cell>{{ row.license }}</td>
        </ng-container>

        <ng-container matColumnDef="ip">
            <th *matHeaderCellDef class="license-table-header" mat-header-cell
                mat-sort-header>{{ 'view.license-log.table.header.ip' | translate }}
            </th>
            <td *matCellDef="let row" mat-cell>{{ row.ip }}</td>
        </ng-container>

        <ng-container matColumnDef="dateTime">
            <th *matHeaderCellDef class="license-table-header" mat-header-cell
                mat-sort-header>{{ 'view.license-log.table.header.date' | translate }}
            </th>
            <td *matCellDef="let row" mat-cell>{{ row.dateTime.toLocaleString() }}</td>
        </ng-container>

        <ng-container matColumnDef="listBehaviorResult">
            <th *matHeaderCellDef class="license-table-header" mat-header-cell
                mat-sort-header>{{ 'view.license-log.table.header.request-result' | translate }}
            </th>
            <td *matCellDef="let row" mat-cell>{{ row.listBehaviorResult }}</td>
        </ng-container>

        <tr *matHeaderRowDef="displayedColumns; sticky: true" mat-header-row></tr>
        <tr *matRowDef="let row; columns: displayedColumns;" class="license-table-row" mat-row></tr>

    </table>

</div>
