@use '@angular/material' as mat;

:host {
  width: 95%;
}

.license-table {
  margin-bottom: 1%;
}

.license-form-field {
  display: block;
  max-width: 25%;
  min-width: 250px;
}

.license-table-header {
  user-select: none;
}

.license-table-row:hover {
  background-color: map-get(mat.$indigo-palette, 50);
}

.license-loading-shade {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 56px;
  right: 0;
  background: rgba(0, 0, 0, 0.15);
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}
