<div style="width: 100%">

    <div style="display: flex">
        <mat-form-field class="license-form-field">
            <mat-label>{{ 'Filter' | translate }}</mat-label>
            <input (ngModelChange)="applyFilter()" [(ngModel)]="filterValue" matInput>
            @if (filterValue) {
                <button matSuffix mat-icon-button aria-label="Clear" (click)="clearFilter()">
                    <mat-icon>close</mat-icon>
                </button>
            }
        </mat-form-field>
        <button (click)="refresh()" [disabled]="(userLicenseStore.getLoadingLogs())" [matTooltip]="('Refresh' | translate) "
                mat-icon-button>
            <mat-icon>refresh</mat-icon>
        </button>
        <button (click)="deleteHistory()" [disabled]="(userLicenseStore.getUserLicenseLogs().length === 0 || userLicenseStore.getLoadingLogs())" [matTooltip]="('Delete logs' | translate) "
                mat-icon-button>
            <mat-icon>delete_history</mat-icon>
        </button>
    </div>

    @if (loading) {
        <mat-progress-bar mode="indeterminate"></mat-progress-bar>
    }
    <mat-paginator [pageSizeOptions]="[5, 10, 20, 50]" showFirstLastButtons style="user-select: none">

    </mat-paginator>
    <table [dataSource]="dataSource" class="license-table" mat-table matSort>

        <ng-container matColumnDef="id">
            <th *matHeaderCellDef class="license-table-header" mat-header-cell
                mat-sort-header>{{ 'ID' | translate }}
            </th>
            <td *matCellDef="let row" mat-cell>{{ row.id }}</td>
        </ng-container>

        <ng-container matColumnDef="license">
            <th *matHeaderCellDef class="license-table-header" mat-header-cell
                mat-sort-header>{{ 'License' | translate }}
            </th>
            <td *matCellDef="let row" mat-cell>{{ row.license }}</td>
        </ng-container>

        <ng-container matColumnDef="ip">
            <th *matHeaderCellDef class="license-table-header" mat-header-cell
                mat-sort-header>{{ 'IP' | translate }}
            </th>
            <td *matCellDef="let row" mat-cell>{{ row.ip }}</td>
        </ng-container>

        <ng-container matColumnDef="dateTime">
            <th *matHeaderCellDef class="license-table-header" mat-header-cell
                mat-sort-header>{{ 'Date' | translate }}
            </th>
            <td *matCellDef="let row" mat-cell>{{ row.dateTime.toLocaleString() }}</td>
        </ng-container>

        <ng-container matColumnDef="listBehaviorResult">
            <th *matHeaderCellDef class="license-table-header" mat-header-cell
                mat-sort-header>{{ 'Request Result' | translate }}
            </th>
            <td *matCellDef="let row" mat-cell>{{ row.listBehaviorResult }}</td>
        </ng-container>

        <tr *matHeaderRowDef="displayedColumns; sticky: true" mat-header-row></tr>
        <tr *matRowDef="let row; columns: displayedColumns;" class="license-table-row" mat-row></tr>

    </table>

</div>
