@use '@angular/material' as mat;
@use 'sass:map';

:host {
    width: 95%;
}

.license-table {
    margin-bottom: 1%;
    background-color: var(--mat-sys-surface-container-lowest);
}

.license-form-field {
    display: block;
    max-width: 25%;
    min-width: 250px;
}

.license-table-header {
    user-select: none;
}

.license-table-row:hover {
    background: var(--mat-sys-primary-container);
}

.license-log-toolbar-item {
    margin-top: 10px;
    margin-bottom: 10px;
}
