@use '@angular/material' as mat;

.item-block {
  width: 90%;
  margin: 5%;

  mat-icon {
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;

    text-align: center;

    width: 32px;
    height: 32px;
  }

  .badge {
    position: absolute;
    top: 11px;
    left: 4px;
    z-index: 2;
    font-size: 0.9em;

    .mat-badge-content {
      z-index: 3;
      width: auto;
      padding-left: 3.5px;
      padding-right: 3.5px;
      border-radius: 13px;
      right: unset !important;
      background-color: #ecfde7;
      border: 1px solid #1f5f07;
      color: #1f5f07;
    }
  }
}

.activeItem {
  box-sizing: content-box;
  box-shadow: 0 0 0 2px map-get(mat.$indigo-palette, 500) inset;

  mat-icon {
    color: map-get(mat.$indigo-palette, 500);
  }
}

.mat-sidenav {
  //background-color: map-get(mat.$indigo-palette, 100);
  width: 60px;
}

.mat-sidenav-container {
  height: 100%;
}

.dragPreview {
  box-sizing: border-box;
  padding-left: unset;
  padding-right: unset;
  border-radius: 15px;
  backdrop-filter: blur(1px);
  background-color: rgba(255, 255, 255, 0.4);
  box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2), 0 8px 10px 1px rgba(0, 0, 0, 0.14), 0 3px 14px 2px rgba(0, 0, 0, 0.12);
}

.dragPreview.disabled { // für disabled items
  opacity: 0.4;
}

.dragPreview.activeItem { // für active items
  box-shadow: 0 0 0 2px map-get(mat.$indigo-palette, 50) inset;
}

.cdk-drag-placeholder {
  opacity: 0;
}

.cdk-drag-animating {
  transition: transform 200ms cubic-bezier(0, 0, 0.2, 1);
}

.list.cdk-drop-list-dragging .item-block:not(.cdk-drag-placeholder) {
  transition: transform 200ms cubic-bezier(0, 0, 0.2, 1);
}

.no-user-select {
  user-select: none;
}

.container .list a {
  box-sizing: border-box;
  height: 53px;
  padding-left: unset;
  padding-right: unset;
  border-radius: 15px;
}

.alignment {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.height-outer {
  height: calc(100% - (64px + 8px));
}

.height-inner {
  height: 100%;
}

.home-item {
  margin-bottom: 45px;
}

.spacer {
  display: inline-block;
}
