<ng-container>
    <div [cdkTrapFocus]="true" class="dialog">
        <div cdkDrag cdkDragHandle cdkDragRootElement=".cdk-overlay-pane" class="license-drag-area"
             mat-dialog-title>{{ title || 'TITLE' }}
        </div>

        <mat-dialog-content>
            {{ message || 'MESSAGE' }}
        </mat-dialog-content>

        <mat-dialog-actions align="end">
            <button [mat-dialog-close]="false" class="cancel-button" color="secondary" mat-raised-button>
                {{ cancelCaption || 'cancelCaption' }}
            </button>

            <button [mat-dialog-close]="true" class="accept-button" color="primary" mat-flat-button>
                <div>{{ confirmCaption || 'confirmCaption' }}</div>
            </button>
        </mat-dialog-actions>
    </div>
</ng-container>
