@use '@angular/material' as mat;
@use 'sass:map' as map;

$light-theme: mat.define-theme((
    color: (
        theme-type: light,
        primary: mat.$azure-palette,
        tertiary: mat.$blue-palette,
    )
));

$dark-theme: mat.define-theme((
    color: (
        theme-type: dark,
        primary: mat.$cyan-palette,
        tertiary: mat.$orange-palette,
    )
));

@mixin light-theme {
    @include mat.all-component-themes($light-theme);
}

@mixin dark-theme {
    @include mat.all-component-themes($dark-theme);
}

html.light-theme {
    @include light-theme;
}

html.dark-theme {
    @include dark-theme;
}

html {
    background-color: var(--mat-sys-surface);
    color: var(--mat-sys-on-surface);

    @include mat.theme((
        color: (
            theme-type: light,
            primary: mat.$azure-palette,
            tertiary: mat.$blue-palette,
        ),
        typography: Roboto,
        density: 0,
    ));
}

html, body {
    height: 100%;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

