@use '@angular/material' as mat;
@use 'sass:map' as map;

$light-theme: mat.define-theme((
    color: (
        theme-type: light,
        primary: mat.$azure-palette,
        tertiary: mat.$blue-palette,
    )
));

$dark-theme: mat.define-theme((
    color: (
        theme-type: dark,
        primary: mat.$cyan-palette,
        tertiary: mat.$orange-palette,
    )
));


html, body {
    height: 100%;
    @include mat.all-component-themes($dark-theme);
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

