@use '@angular/material' as mat;

html {
    background-color: var(--mat-sys-surface);
    color: var(--mat-sys-on-surface);
};

html, body {
    height: 100%;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

.toast-container .ngx-toastr {
    box-shadow: 0 0 12px var(--mat-sys-background) !important;
}
