@use '@angular/material' as mat;
@use 'sass:map' as map;

$light-theme: mat.define-theme((
    color: (
        theme-type: light,
        primary: mat.$azure-palette,
        tertiary: mat.$blue-palette,
    )
));

$dark-theme: mat.define-theme((
    color: (
        theme-type: dark,
        primary: mat.$cyan-palette,
        tertiary: mat.$orange-palette,
    )
));

html {
    background-color: var(--mat-sys-surface);
    color: var(--mat-sys-on-surface);

    @include mat.theme((
        color: (
            theme-type: light,
            primary: mat.$azure-palette,
            tertiary: mat.$blue-palette,
        ),
        typography: Roboto,
        density: 0,
    ));
}

html, body {
    height: 100%;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

.toast-container .ngx-toastr {
    box-shadow: 0 0 12px var(--mat-sys-background) !important;
}
