@use '@angular/material' as mat;
@include mat.core();


$primary: mat.m2-define-palette(mat.$m2-indigo-palette, 500);
$accent: mat.m2-define-palette(mat.$m2-pink-palette, A200);
$neutral: mat.m2-define-palette(mat.$m2-indigo-palette, 50);
$warn: mat.m2-define-palette(mat.$m2-red-palette, 500);

$theme: mat.m2-define-light-theme(
      (
      color: (
        primary: $primary,
        accent: $accent,
        warn: $warn,
      ),
    )
);

@include mat.core-theme($theme);
@include mat.all-component-themes($theme);

html, body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

