openapi: 3.0.0
info:
  title: License-API
  description: License-API
  version: 1.0.0

servers:
  - url: http://localhost:4200/license/api/v1
    description: localhost

paths:
  /key:
    post:
      security:
        - bearerAuth: [ ]
        - OAuth2:
            - key:write
      operationId: generateKey
      requestBody:
        $ref: '#/components/requestBodies/KeyBody'
      tags:
        - Key
      description: Generates a new key
      responses:
        200:
          $ref: '#/components/responses/LicenseKeyModelResponse'
  /key/{owner}:
    get:
      description: Get a key of an owner
      security:
        - bearerAuth: [ ]
        - OAuth2:
            - key:read
      operationId: getKey
      parameters:
        - $ref: '#/components/parameters/Owner'
      tags:
        - Key
      responses:
        200:
          $ref: '#/components/responses/LicenseKeyModelResponse'
    delete:
      description: Deletes a key of an owner
      security:
        - bearerAuth: [ ]
        - OAuth2:
            - key:write
      operationId: deleteKey
      parameters:
        - $ref: '#/components/parameters/Owner'
      tags:
        - Key
      responses:
        200:
          description: Key deleted
  /publisher/{publisher}/license:
    get:
      security:
        - bearerAuth: [ ]
        - OAuth2:
            - publisher:read
      operationId: getLicensesFromPublisher
      tags:
        - Publisher
      description: Gets all licenses from a publisher
      parameters:
        - $ref: '#/components/parameters/PublisherUUID'
      responses:
        200:
          $ref: '#/components/responses/LicenseArrayResponse'
        401:
          description: Unauthorized
        403:
          description: Forbidden
  /check/{license}:
    get:
      operationId: checkLicense
      tags:
        - LicenseCheck
      description: Checks a license
      parameters:
        - $ref: '#/components/parameters/LicenseKey'
      responses:
        200:
          $ref: '#/components/responses/LicenseCheckResponse'
        403:
          $ref: '#/components/responses/LicenseCheckResponse'
        404:
          description: License not found
  /license:
    post:
      security:
        - bearerAuth: [ ]
        - OAuth2:
            - license:write
      operationId: createLicense
      tags:
        - License
      description: Creates an license
      requestBody:
        $ref: '#/components/requestBodies/LicenseBody'
      responses:
        200:
          $ref: '#/components/responses/LicenseResponse'
        403:
          description: License invalid
          content:
            application/json:
              schema:
                type: string
                description: Reason why it is invalid
        404:
          description: License not found
  /license/{license}:
    get:
      security:
        - bearerAuth: [ ]
        - OAuth2:
            - license:read
      operationId: getLicense
      tags:
        - License
      description: Get a license
      parameters:
        - $ref: '#/components/parameters/LicenseKey'
      responses:
        200:
          $ref: '#/components/responses/LicenseResponse'
        403:
          $ref: '#/components/responses/LicenseResponse'
        404:
          description: License not found
    put:
      security:
        - bearerAuth: [ ]
        - OAuth2:
            - license:write
      operationId: updateLicense
      tags:
        - License
      description: Updates a license
      parameters:
        - $ref: '#/components/parameters/LicenseKey'
      requestBody:
        $ref: '#/components/requestBodies/LicenseBody'
      responses:
        200:
          $ref: '#/components/responses/LicenseResponse'
        404:
          description: License not found
    delete:
      security:
        - bearerAuth: [ ]
        - OAuth2:
            - license:write
      operationId: deleteLicense
      tags:
        - License
      description: Deletes a license
      parameters:
        - $ref: '#/components/parameters/LicenseKey'
      responses:
        200:
          description: License valid
        404:
          description: License not found
  /logs/{license}:
    get:
      security:
        - bearerAuth: [ ]
        - OAuth2:
            - logs:read
      operationId: getLicenseLogs
      tags:
        - License
      description: Gets the logs
      parameters:
        - $ref: '#/components/parameters/LicenseKey'
      responses:
        200:
          $ref: '#/components/responses/LicenseLogResponse'
        403:
          description: License invalid
        404:
          description: License not found
    delete:
      security:
        - bearerAuth: [ ]
        - OAuth2:
            - logs:write
      operationId: deleteLicenseLogs
      tags:
        - License
      description: Deletes logs from a license
      parameters:
        - $ref: '#/components/parameters/LicenseKey'
      responses:
        200:
          description: License valid
        403:
          description: License invalid
        404:
          description: License not found


security:
  - bearerAuth: [ ]
  - OAuth2:
      - key:read
      - key:write
      - publisher:read
      - publisher:write
      - logs:read
      - logs:write
      - license:read
      - license:write

components:
  requestBodies:
    KeyBody:
      required: true
      content:
        application/json:
          schema:
            type: object
            properties:
              keySize:
                type: integer
                default: 2048
                maximum: 5120
    LicenseBody:
      required: true
      description: License body
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/License'
  responses:
    LicenseKeyModelsResponse:
      description: License Key response
      content:
        application/json:
          schema:
            type: array
            items:
              $ref: '#/components/schemas/LicenseKey'
    LicenseKeyModelResponse:
      description: License Key response
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/LicenseKey'
    LicenseCheckResponse:
      description: License invalid
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/LicenseCheckResult'
    LicenseArrayResponse:
      description: License response
      content:
        application/json:
          schema:
            type: array
            items:
              $ref: '#/components/schemas/License'
    LicenseResponse:
      description: License response
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/License'
    LicenseLogResponse:
      description: License response
      content:
        application/json:
          schema:
            type: array
            items:
              $ref: '#/components/schemas/LicenseLog'
  parameters:
    LicenseKey:
      name: license
      in: path
      description: License key
      required: true
      schema:
        type: string
    Owner:
      name: owner
      in: path
      description: Owner of the key
      required: true
      schema:
        type: string
    PublisherUUID:
      name: publisher
      in: path
      description: Publisher UUID
      required: true
      schema:
        type: string
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
    OAuth2:
      type: oauth2
      flows:
        authorizationCode:
          authorizationUrl: http://localhost/auth/realms/license/protocol/openid-connect/auth
          tokenUrl: http://localhost/auth/realms/license/protocol/openid-connect/token
          scopes:
            publisher:read: allows reading licenses from publishers
            publisher:write: allows editing licenses from publishers
            logs:read: allows reading license logs
            logs:write: allows editing license logs
            license:read: allows reading licenses
            license:write: allows editing licenses
  schemas:
    ListMode:
      type: string
      enum: [ BLACKLIST, WHITELIST ]
    ListBehaviorResult:
      type: string
      enum: [ ALLOW, DISALLOW ]
    LicenseKey:
      description: Key of the license
      type: object
      required:
        - owner
        - publicKey
      properties:
        owner:
          description: Owner of the key
          type: string
        publicKey:
          description: Public key
          type: string
    License:
      description: License
      type: object
      required:
        - licenseKey
        - notes
        - publisher
        - valid
        - validUntil
        - listMode
        - ipAddresses
      properties:
        licenseKey:
          description: Key of the license
          type: string
        publisher:
          description: Publisher of the license
          type: string
        notes:
          description: Note for the license
          type: string
        valid:
          description: Validity for the license
          type: boolean
        validUntil:
          description: Expiration date of the license
          type: string
          format: date-time
        listMode:
          description: The Mode how the server checks the ip Address
          $ref: '#/components/schemas/ListMode'
        ipAddresses:
          description: Allowed ip address patterns
          type: array
          items:
            type: string
    LicenseCheckResult:
      description: Result of a license check
      type: object
      required:
        - licenseKey
        - notes
        - publisher
        - valid
        - validUntil
        - signature
      properties:
        licenseKey:
          description: Key of the license
          type: string
        publisher:
          description: Publisher of the license
          type: string
        notes:
          description: Note for the license
          type: string
        valid:
          description: Validity for the license
          type: boolean
        validUntil:
          description: Expiration date of the license
          type: string
          format: date-time
        signature:
          description: Encrypted signature
          type: string
    LicenseLog:
      description: Log of a License check
      type: object
      required:
        - id
        - license
        - ip
        - dateTime
        - listBehaviorResult
      properties:
        id:
          description: ID of the entry
          type: integer
          format: int32
        license:
          description: Key of the license
          type: string
        ip:
          description: IP of the client
          type: string
          format: ipv4
        dateTime:
          description: Date of the check
          type: string
          format: date-time
        listBehaviorResult:
          description: Result of the checked ip
          $ref: '#/components/schemas/ListBehaviorResult'
