<mat-form-field>
    <mat-label>{{this.datePicker().label }}</mat-label>

    <mat-date-range-input [rangePicker]="rangePicker">
        <input [formControl]="this.startDateControl()"
               [placeholder]="this.datePicker().startDate.placeholder"
               matStartDate>
        <input [formControl]="this.endDateControl()"
               [placeholder]="this.datePicker().endDate.placeholder"
               matEndDate>
    </mat-date-range-input>
    @if (this.datePicker().hint) {
        <mat-hint>{{ this.datePicker().hint }}</mat-hint>
    }
    <mat-datepicker-toggle [for]="rangePicker" matIconSuffix></mat-datepicker-toggle>

    <mat-date-range-picker #rangePicker>
        <mat-date-range-picker-actions>
            <button (click)="this.onCancelButtonClick.emit($event)"
                    [color]="this.datePicker().cancelButton.color"
                    mat-button
                    matDateRangePickerCancel>{{ this.datePicker().cancelButton.text }}
            </button>

            <button (click)="this.onApplyButtonClick.emit($event)"
                    [color]="this.datePicker().applyButton.color"
                    mat-raised-button
                    matDateRangePickerApply>{{ this.datePicker().applyButton.text }}
            </button>

        </mat-date-range-picker-actions>
    </mat-date-range-picker>
</mat-form-field>
