<mat-form-field>
    <mat-label>{{ datePicker.label }}</mat-label>

    <mat-date-range-input [formGroup]="dateRange" [rangePicker]="rangePicker">
        <input [formControlName]="'startDate'"
               [placeholder]="datePicker.startDate.placeholder"
               matStartDate>
        <input [formControlName]="'endDate'"
               [placeholder]="datePicker.endDate.placeholder"
               matEndDate>
    </mat-date-range-input>
    @if (datePicker.hint) {
        <mat-hint>{{ datePicker.hint }}</mat-hint>
    }
    <mat-datepicker-toggle [for]="rangePicker" matIconSuffix></mat-datepicker-toggle>

    <mat-date-range-picker #rangePicker>
        <mat-date-range-picker-actions>
            <button (click)="cancelButtonClick$.emit($event)"
                    [color]="datePicker.cancelButton.color"
                    mat-button
                    matDateRangePickerCancel>{{ datePicker.cancelButton.text }}
            </button>

            <button (click)="applyButtonClick$.emit($event)"
                    [color]="datePicker.applyButton.color"
                    mat-raised-button
                    matDateRangePickerApply>{{ datePicker.applyButton.text }}
            </button>

        </mat-date-range-picker-actions>
    </mat-date-range-picker>
</mat-form-field>
