@use '@angular/material' as mat;
@use 'sass:map' as map;

.license-toolbar {
    position: sticky;
    top: 0;
    z-index: 1000;
    color: var(--mat-sys-primary);
    background: var(--mat-sys-primary-container);
}

.spacer {
    flex: 1 1 auto;
    min-width: 10px;
}

.license-sidenav-content {
    display: flex;
    height: 100%;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
    margin-left: 15px;
}

.license-sidenav {
    position: fixed;
    width: 100%;
    height: calc(100% - 64px);
}
