<mat-toolbar class="license-toolbar" [color]="'primary'">
    <button (click)="toggleSidenav()" mat-icon-button>
        <mat-icon>menu</mat-icon>
    </button>
    <span class="mouse-hover">{{ title }}</span>
    <span class="spacer"></span>

    <button mat-icon-button (click)="onChangeTheme()">
        <mat-icon>{{this.themeIcon()}}</mat-icon>
    </button>

    <license-dropdown-menu (itemClick$)="onChangeLanguage($event)"
                           [items]="this.itemsFacade.getChangeLanguageDropdownMenu()">
        <ng-template let-menu="menu">
            <button [matMenuTriggerFor]="menu" mat-icon-button>
                <mat-icon>language</mat-icon>
            </button>
        </ng-template>
    </license-dropdown-menu>

    <license-dropdown-menu (itemClick$)="onLogoutClicked($event)" [items]="this.itemsFacade.getLogoutDropdownMenu()">
        <ng-template let-menu="menu">
            <button [matMenuTriggerFor]="menu" mat-icon-button>
                <mat-icon>logout</mat-icon>
            </button>
        </ng-template>
    </license-dropdown-menu>


</mat-toolbar>

<license-sidenav #sidenav (listItemClicked)="this.sidenavItemClick($event)" [items]="this.itemsFacade.getSidenavItems()"
                 class="license-sidenav">
    <div class="license-sidenav-content">
        <div style="display: block; height: 15px; width: 15px; margin-left: 15px"></div>
        <router-outlet style="display: block; margin-top: 1px; margin-left: 15px"></router-outlet>
    </div>
</license-sidenav>

