.app-toolbar {
  position: sticky;
  top: 0;
  z-index: 1000;
}

.example-container {
  width: 100%;
  height: 93%;
}

.example-sidenav-content {
  display: flex;
  height: 100%;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
  margin-left: 15px;
}

.example-sidenav {
  padding: 20px;
}
