<mat-toolbar color="primary" class="app-toolbar">
  <button mat-icon-button (click)="toggleSidenav()">
    <mat-icon>menu</mat-icon>
  </button>
  <span class="mouse-hover">{{ title }}</span>
  <span class="spacer"></span>
  <license-dropdown-menu [items]="dropdownMenu" (itemClick$)="onChangeLanguage($event)">
    <ng-template let-menu="menu">
      <button mat-icon-button [matMenuTriggerFor]="menu">
        <mat-icon>language</mat-icon>
      </button>
    </ng-template>
  </license-dropdown-menu>

  <license-dropdown-menu [items]="[{
      id: 'logout',
      title: 'Logout' | translate,
      disabled: false
    }]" (itemClick$)="onLogoutClicked($event)">
    <ng-template let-menu="menu">
      <button mat-icon-button [matMenuTriggerFor]="menu">
        <mat-icon>logout</mat-icon>
      </button>
    </ng-template>
  </license-dropdown-menu>


</mat-toolbar>

<mat-drawer-container class="license-sidenav-container">
  <mat-drawer #expanded class="license-sidenav" mode="side" [opened]="true">
    <p>Auto-resizing sidenav</p>
  </mat-drawer>

  <div class="license-sidenav-content">
    <div style="display: block; height: 15px; width: 15px; margin-left: 15px"></div>
    <router-outlet style="display: block; margin-top: 1px; margin-left: 15px"></router-outlet>
  </div>
</mat-drawer-container>
