<mat-toolbar color="primary" class="app-toolbar">
  <button mat-icon-button (click)="drawer.toggle()">
    <mat-icon>menu</mat-icon>
  </button>
  <span class="mouse-hover">{{ title }}</span>
  <span class="spacer"></span>
</mat-toolbar>

<mat-drawer-container class="example-container">
  <mat-drawer #drawer class="example-sidenav" mode="side" [opened]="true">
    <p>Auto-resizing sidenav</p>
  </mat-drawer>

  <div class="example-sidenav-content">
    <div style="display: block; height: 15px; width: 15px; margin-left: 15px"></div>
    <router-outlet style="display: block; margin-top: 1px; margin-left: 15px"></router-outlet>
  </div>
</mat-drawer-container>
